<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html">
    <title><%= title %></title>
    <link rel="shortcut icon" href="./src/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./src/css/contact.css">
</head>
<body>
    <header>
        <h1>FWYW</h1>
        <div class="hum">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header_nav">
            <nav>
                <ul>
                    <li><a href="./">TOP</a></li>
                    <li><a href="./contact">CONTACT</a></li>
                    <li><a href="./users/login">LOGIN</a></li>
                    <li class="signup"><a href="./users/signup">SIGN UP</a></li>
                </ul>
            </nav>
        </div>
        <div class="overlay"></div>
    </header>
    
    <main>
        <h2 class="title"><%= title %></h2>
        <p class="explain">お気軽にお問い合わせください。</p>
        <ul class="err_msg">
          <% if (arr) {for (let i in arr) { %>
            <li><%= arr[i].msg %></li>
          <% }} %>
        </ul>
        <div class="main_wrapper">
          <form action="./contact" method="POST" id="form">

            <div class="form_item">
                <label for="name">NAME</label>
                <input type="text" name="name" id="name" value="" inputmode="text" placeholder="田中 太郎">
                <ul class="form_err">
                  <% if (arr) {for (let i in arr) { %>
                      <% if (arr[i].param === 'name') { %>
                        <li><%= arr[i].msg %></li>
                      <% } %>
                  <% }} %>
                </ul>
            </div>

            <div class="form_item">
                <label for="mail">MAIL</label>
                <input type="text" name="mail" id="mail" value="" autocomplete="email" inputmode="email" placeholder="example@gmail.com" >
                <ul class="form_err">
                  <% if (arr) {for (let i in arr) { %>
                      <% if (arr[i].param === 'mail') { %>
                        <li><%= arr[i].msg %></li>
                      <% } %>
                  <% }} %>
                </ul>
            </div>

            <div class="form_item">
              <label for="type">TYPE</label>
              <select name="type" id="type">
                <option value="" hidden>--お問い合わせの種類を選択してください--</option>
                <option value="0">このサイトについて</option>
                <option value="1">ご利用に関するお問い合わせ</option>
                <option value="2">サイト開発者に関するお問い合わせ</option>
              </select>
              <ul class="form_err">
                <% if (arr) {for (let i in arr) { %>
                    <% if (arr[i].param === 'type') { %>
                      <li><%= arr[i].msg %></li>
                    <% } %>
                <% }} %>
              </ul>
            </div>

            <div class="form_item">
              <label for="content">CONTENT</label>
              <textarea name="content" id="content" cols="30" rows="10"></textarea>
              <ul class="form_err">
                <% if (arr) {for (let i in arr) { %>
                    <% if (arr[i].param === 'content') { %>
                      <li><%= arr[i].msg %></li>
                    <% } %>
                <% }} %>
              </ul>
            </div>
      
      
            <input type="submit" value="送信" id="submit">
        </form>
        </div>
    </main>

    <footer>
        <small>©2021 Ryota Kojima All rights reserved.</small>
    </footer>
    <script src="./src/js/contact.js"> </script>
</body>
</html>